[defaults]
inventory = inventory.ini
roles_path = ./roles:./.ansible/roles
collections_path = ./.ansible/collections
host_key_checking = True
retry_files_enabled = False

[ssh_connection]
pipelining = True
